/*---- main page----*/
body {
    min-height: 100vh;
    background: linear-gradient(#10141e, #2b284b);
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@font-face {
    font-family: 'orbitronlight';
    src: url('https://six-guys.github.io/fonts/orbitron_light-webfont.woff2') format('woff2'),
         url('https://six-guys.github.io/fonts/orbitron_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*---- cart button -----*/

/*------ Headers -------*/

h1 {
    font-family: 'orbitronlight', Arial, sans-serif;
    font-size: 12em;
    display: flex;
    margin-top: 50px;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h2 {
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff015a;
}

h3 {
    font-family: 'Montserrat' , Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff015a;
}

.product-image {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    margin-top: 47px;
    margin-left: -3%;
    margin-right: auto;
    margin-bottom: 10%;
    display: block;
    width: 110%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/*------ Main Text -----*/

p {
    font-family: 'Montserrat', Arial;
    color:white;
}

   /* The navigation bar */
   .navbar {
    overflow: hidden;
    background-color: #DE004E;
    opacity: 0.75;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

    /* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #150D2B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', Arial;
}

    /* Change background on mouse-over*/
.navbar a:hover {
    background: #ddd;
    color: black;
}



.navbar-right{
    float:right;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
  }

/*------ pricing page purchase button -----*/

.purchase {
    display: flex;
    width: fit-content; 
    margin: auto;  
    margin-top: 20px; 
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 10px;
    letter-spacing: 4px;   

    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'orbitronlight';
    color: #ff015a;    
    border: #ff015a 4px solid;
    text-shadow: 0 0 0.25em #ff015a, 0 0 0.25em whitesmoke;
    box-shadow: 0 0 1em 0 #ff015a, inset  0 0 1em 0 #ff015a;
}

.purchase:hover {
    color: #ff015a;
    text-shadow: 0 0 1em #ff015a;
    box-shadow: 0 0 2em 0 #ff015a, inset  0 0 2em 0 #ff015a;
}

/*----- pricing page header ----*/

.carthead {
    font-family: 'orbitronlight', Arial, sans-serif;
    font-size: 3em;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/*----- pricing page main table ----*/

.cart-page table{
    border-top: 3px solid #ff015a;
    border-bottom: 3px solid #ff015a;
    margin-top: 50px;
    width: 80%;
    float: left;
    color: #fff;
}
.cart-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;	
}
th {
    text-align: left;
    padding: 5px;
    color: #fff;
    font-weight: normal;
    font-size: 25px;
    font-family: 'Montserrat', Arial;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td img{
    width: 150px;
    height: 150px;
    color: #fff;
    font-family: 'Montserrat', Arial;
}

