/*---- main page----*/
body {
    min-height: 100vh;
    background: linear-gradient(#10141e, #2b284b);
}

@font-face {
    font-family: 'orbitronlight';
    src: url('https://six-guys.github.io/fonts/orbitron_light-webfont.woff2') format('woff2'),
         url('https://six-guys.github.io/fonts/orbitron_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*---- cart button -----*/

/*------ Headers -------*/

h1 {
    font-family: 'orbitronlight', Arial, sans-serif;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    color: #fff;
}

h2 {
    font-family: 'orbitronlight' , Arial, sans-serif;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    color: #ff015a;
}

/*------ Main Text -----*/

p {
    font-family: 'Montserrat', Arial;
}
/*------ purchase button -----*/

.purchase {
    display: flex;
    width: fit-content; 
    margin: auto;  
    margin-top: 20px; 
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 10px;
    letter-spacing: 4px;   

    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
    font-family: 'orbitronlight';
    color: #ff015a;    
    border: #ff015a 4px solid;
    text-shadow: 0 0 0.25em #ff015a, 0 0 0.25em whitesmoke;
    box-shadow: 0 0 1em 0 #ff015a, inset  0 0 1em 0 #ff015a;
}

.purchase:hover {
    color: #ff015a;
    text-shadow: 0 0 1em #ff015a;
    box-shadow: 0 0 2em 0 #ff015a, inset  0 0 2em 0 #ff015a;
}

/*----- main table ----*/

.cart-page table{
    border-top: 3px solid #ff015a;
    border-bottom: 3px solid #ff015a;
    margin-top: 50px;
    width: 80%;
    float: left;
    color: #fff;
}
.cart-page{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;	
}
th {
    text-align: left;
    padding: 5px;
    color: #fff;
    font-weight: normal;
    font-size: 25px;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td img{
    width: 150px;
    height: 150px;
    color: #fff;
}

