/*---- main page----*/
body {
    background-color: #150D2B;
}

/*---- cart button -----*/

.cart-button img.image-main{
    position: relative;
    float: right;
    width: 60px;
    height: 50px;
    max-width: 100%;
}
.cart-button img.image-hover{
    position: absolute;
    opacity: 0;
    top: 7;
    right: 0;
    left: 92.9%;
    bottom: 0;
    object-fit: contain;
    transition: opacity .2s;
    width: 60px;
    height: 50px;
}
.cart-button:hover img.image-hover{
    opacity: 1;
}

/*----- main table ----*/

.cart-page {
    margin: 50px auto;
    float: left;
    width: 50%;
    padding: 5px;
}
.cart-page table{
    border: 3px solid #860029;
    border-radius: 10px;
    width: 100%;
    float: left;
    color: #fff;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #860029;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td img{
    width: 150px;
    height: 150px;
    margin-right: 10px;
    color: #fff;
}

/*------- table on the right ------*/
.total table{
    border: 3px solid #860029;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    float: right;
    color: #fff;
}
*{
    box-sizing: border-box;
} 
.total {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 5px;
}